body {
	font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
}

h1 {
	color: #F90B6D;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #F90B6D;
    font-weight: bold;
}

button {
    vertical-align: middle;
}

#container {
    display: flex;
    flex-direction: row;
    padding: 36px;
}

#button-box {
    width: 50%;
    height: 250px;
    text-align: center;
    margin: auto;
}

#options {
	color: #333333;
	text-align: left;
    margin: 8px;
    padding: 8px;
	font-size: 11px;
    background-color: #EDEDED;
    border: 2px solid #EDEDED;
    border-radius: 16px;
}

#output {
    text-align: left;
    margin: 18px;
    padding: 18px;
    border: 2px solid #18446B;
    background-color: #222;
    color: #F90B6D;
}

#message {
    padding: 36px;
    color: #F90B6D;
}

#copy-to-clipboard {
    padding: 5px;
}

textarea {
    border-radius: 12px;
}